<!DOCTYPE html>
<html>
<head>
  <style>
    .my_custom_table
    {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      width: 600px;
      margin-left:auto;
      margin-right:auto;
    }
    .my_custom_table td
    {
      text-align: left;
      padding: 4px;
      background-color:#C2EBFF;
      width: 200px;
    }
    .fit_input
    {
      width: 100%;
      box-sizing: border-box;
    }
  </style>
</head>

<body style="text-align: center;">
<h1>Machine Learning - Travel Recommender</h1>
<img src="../static/travel.jpg" width="600" style="margin-top:1px; margin-bottom:1px;">

<form method="POST">
     <table class="my_custom_table" border="1">
     <tbody>
      <tr>
        <td colspan="2"><center><b>Your monthly salary:</b>
        <br/>
        (1000 - 10000 USD)</center></td>
        <td colspan="0.5"><center><input type="number" name="Your_age" min="1000" max="10000"></center></td>
      </tr>
      <tr>
        <td colspan="2"><center><b>Your gender:</b>
          <br/>
          (0 = male, 1 = female)</center></td>
        <td colspan="0.5"><center><input type="number" name="Your_gender" min="0" max="1"></center></td>
      </tr>
      <tr>
        <td colspan="2"><center><b>Your marital status:</b>
          <br/>
          (0 = Single, 1 = Married, 2 = Divorced)</center></td>
        <td colspan="0.5"><center><input type="number" name="Your_marital" min="0" max="2"></center></td>
      </tr>
      <tr>
        <td colspan="2"><center><b>Press the button to see!!</b></center></td>
        <td colspan="2">
          <center><input type="submit"></center>
        </td>
      </tr>
      <tr>
        <td colspan="4" style="background-color:#448C45; color:whitesmoke">
        <center><b>YOUR RESULT</b></center>
        </td>
      </tr>
      <tr>
        <td colspan="4" style="background-color:#A5E2A6; height:18px;">
          <center>{{ href2 }}</center>
        </td>
      </tr>
    </tbody>
    </table>
  </form>
</body>
</html>
